<app-navbar>

</app-navbar>
<div class="container">
    <br/>
    <!-- Spinner Code -->
    <ngx-spinner bdOpacity = 0.9 bdColor = "#333" size = "medium" color = "#fff" type = "square-jelly-box"
    [fullScreen] = "true">
      <p style="color: white" >Processing your image</p>
    </ngx-spinner>
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <!-- ROW 1: Title Row -->
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 style="text-align: center;">Cloud Detection</h2>
        </div>
      </div>
      <br/>
      <!-- ROW 2: Data -->
      <div class="row">
        <!-- COLUMN 1: Display Image -->
        <div class="col-md-6 col-sm-12">
          <img src="../../assets/img/3Dasiasec_ir1.jpg" class="img-fluid" #imgSrcElem>
        </div>
        <!-- COLUMN 2: Display Details for (x,y) in image -->
        <div class="col-md-6 col-sm-12">
          <table class="table table-bordered table-striped" *ngIf="x">
            <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="4" style="text-align: center;">({{x}},{{y}}) attributes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Point</td>
                <td>({{x}},{{y}})</td>
                <td>Type</td>
                <td>Convective</td>
              </tr>
              <tr>
                <td scope="row">TIR1 Count</td>
                <td>581.00</td>
                <td>Top Temp.</td>
                <td>223 K</td>
              </tr>
              <tr>
                <td scope="row">Cloudy</td>
                <td>Yes</td>
                <td>Height</td>
                <td>Low</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>